@use '../base' as *;
@use '_1_tabbed-navigation-v2.scss' as *;
@use '_1_tabs.scss' as *;

/* -------------------------------- 

File#: _2_tabs-v2
Title: Tabs v2
Descr: Accessible tabbed content v2
Usage: codyhouse.co/license

-------------------------------- */

.tabs-v2 {}