.section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-title-2{
    color: var(--color-black);
}




.footer{
    background-color: var(--color-primary);
    color: var(--color-black);
}
